<div>
    <div class="nav__container">
        <div class="footer__container__left">
            {{!-- <img class="nav__container__left__logo" src="img/logo.png" alt=""> --}}
        </div>
        <div class="footer__container__right">
            <i id="footerAll" class="nav__container__mobileMenu icon-allfiles"></i>
            <i id="footerAdd" class="nav__container__mobileMenu icon-addfile"></i>
            <i id="footerChart" class="nav__container__mobileMenu icon-bar-chart"></i>
            <i id="footerSettings" class="nav__container__mobileMenu icon-settings"></i>
        </div>
    </div>
</div>