<nav>
    <div class="nav__container">
        <div class="nav__container__left">
            <img id="logoHome" class="nav__container__left__logo" src="img/logo.png" alt="">
            <h1 class="nav__container__titulo">Reservatron</h1>
        </div>
        <div class="nav__container__right">
            <i id="mainLogin" class="nav__container__mobileMenu icon-user"></i>
            <i id="navMenu" class="nav__container__mobileMenu icon-menu"></i>
            <div class="nav__menuExtended">
                <ul>
                    <div class="ulMenu">
                        <p>Menú</p>
                        <p id="navClose" class="nav__close">X</p>
                    </div>

                    <li id="menuIniciar">Iniciar sesión</li>
                    <li id="menuRegistro">Registro</li>
                    <li id="menuVerReservas">Ver Reservas</li>
                    <li id="menuCrearReserva">Crear Reserva</li>
                    <li id="menuCrearServicio">Crear Servicio</li>
                    <li id="menuEstadisticas">Estadísticas</li>
                    <li id="menuSalir">Salir</li>
                </ul>
            </div>
        </div>

    </div>
</nav>