<link rel="stylesheet" href="css/adminReservasMonth.css">
<div class="armContainer">
    {{#each dias}}
    <div class="arm__day">
        <p class="arm__day__number">{{day}}</p>
        <p class="arm__day__name">{{name}}</p>
    </div>
    {{/each}}
</div>