<link rel="stylesheet" href="css/adminCreateReserva.css">
<div class="acr">
    <div class="acr__titulo">
        <h1>Nueva Reserva</h1>
        <p id="nombreDia">Selecciona un día</p>
    </div>

    <div class="acr__fecha">
        <i id="acrBtnBack" class="icon-back"></i>
        <div class="acr__fecha__diaMes">
            <p id="asrFechaNombreDia"></p>
            <p id="asrFechaDDMMYYYY"></p>
        </div>
        <i id="acrBtnNext" class="icon-next"></i>
    </div>

    <div id="acrCalendar" class="acr__mes__container">
        {{#each dias}}
        <div id={{date}} class="acr__day">
            <p class="acr__day__number">{{day}}</p>
            <p class="acr__day__name">{{name}}</p>
        </div>
        {{/each}}
    </div>

    <form id="acrForm" class="acr__form">
        <div class="acr__form__titulo">
            <h2>Cliente</h2>
        </div>
        <div class="acr__form__clients">
            <input class="acr__form__clients__inputClient" type="text" name="clientName" id="inputClientName"
                placeholder="nombre cliente ( * muestra todos )">
            <ul id="selectClients" class="acr__form__clients__select" name="clients" id="" hidden>
            </ul>
        </div>



        <div class="acr__form__service__titulo">
            <h2>Servicio</h2>
        </div>
        <div class="acr__form__services">
            <input class="acr__form__services__inputService" type="text" name="serviceName" id="inputServiceName"
                placeholder="nombre servicio ( * muestra todos )">
            <ul id="selectServices" class="acr__form__services__select" name="services" id="" hidden>
            </ul>
        </div>
        <div class="acr__form__notes">
            <h2>Notas</h2>


            <textarea name="comments" id="formComments" cols="30" rows="10"
                placeholder="Algo importante que queramos anotar sobre la reserva?"></textarea>
        </div>
        <div class="acr__form__selectContainer">
            <div class="acr__form__horasDisponibles">
                <i class="icon-clock"></i>
                <select name="selectedHour" id="horasDisponible">
                    <option value="0">Horas disponibles</option>
                    <option value="10:30">10:00</option>
                    <option value="12:30">12:30</option>
                    <option value="18:00">18:00</option>
                </select>
            </div>
        </div>
        <div class="acr__form__errors">

            <p>Falta seleccionar estos datos</p>
            <p class="acr__errors" id="errorFecha">Fecha</p>
            <p class="acr__errors" id="errorCliente">Cliente</p>
            <p class="acr__errors" id="errorServicio">Servicio</p>
            <p class="acr__errors" id="errorHora">Hora</p>

        </div>
        <div id="btnCreateReserva" class="acr__form__button" data-valid="false">
            <p>Crear Reserva</p>
        </div>
    </form>
</div>