<link rel="stylesheet" href="css/adminCreateReserva.css">
<div class="acrContainer">
    {{#each dias}}
    <div id={{date}} class="acr__day">
        <p class="acr__day__number">{{day}}</p>
        <p class="acr__day__name">{{name}}</p>
    </div>
    {{/each}}
</div>