{{!-- asr es abreviatura de adminShowReservas que es el nombre de la plantilla. --}}
<link rel="stylesheet" href="css/adminShowReservas.css">
<div class="asr">
    <div class="asr__container">
        <div class="asr__container__top">
            <div class="asr__title">
                <i class="icon-reservas"></i>
                <h2>Reservas</h2>
            </div>
            <div id="asr_btnSelectDayMonth" class="asr__buttons">
                <div class="asr__button__today">
                    <div id="asrIconDay" class="asr__buttons__icon asr__buttons__icon-active">
                        <i id="asrBtnDay" data-selected="true" class="icon-calendar-day"></i>
                    </div>
                    <p>Día</p>
                </div>
                <div class="asr__button__month">
                    <div id="asrIconMonth" class="asr__buttons__icon">
                        <i id="asrBtnMonth" data-selected="false" class="icon-calendar-full"></i>
                    </div>
                    <p>Mes</p>
                </div>
            </div>
            <div class="asr__fecha">
                <i id="asrBtnBack" class="icon-back"></i>
                <div class="asr__fecha__diaMes">
                    <p id="asrFechaNombreDia"></p>
                    <p id="asrFechaDDMMYYYY"></p>
                </div>
                <i id="asrBtnNext" class="icon-next"></i>
            </div>
        </div>

        <div id="asrCitasContainer" class="asr__citas"></div>
    </div>
</div>