<link rel="stylesheet" href="css/adminReservasMonth.css">
<div id="monthWidget" class="armContainer">
    {{#each dias}}
    <div class="arm__day" id="{{date}}">
        <p class="arm__day__number">{{day}}</p>
        <p class="arm__day__name">{{name}}</p>
    </div>
    {{/each}}
</div>