<!DOCTYPE html>
<html>

<head>
    <script src="src/index.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" async></script>
</head>

<body>
    <canvas id="mes" width="40vw" height="40vh"></canvas>
    <canvas id="semana" width="40vw" height="40vh"></canvas>
    <canvas id="dia" width="40vw" height="40vh"></canvas>
    <div>
        <button id="btn_mes">Mes</button>
        <button id="btn_semana">Semana</button>
        <button id="btn_dia">Dia</button>
    </div>
</body>

</html>