<link rel="stylesheet" href="css/clientCreateReserva.css">
<div class="ccr">
    <h2>Buscador automático</h2>
    <div class="ccr__container">

        <select name="servicio" id="servicio">
            <option hidden>Elige servicio</option>

            <option value="Masaje1">Masaje Deportivo</option>
            <option value="Masaje2">Masaje de espalda</option>
            <option value="Masaje3">Masaje antiestrés</option>
            <option value="Masaje3">Masaje anticelulítico</option>
            <option value="Masaje3">Masaje antiestrés</option>
            <option value="Masaje3">Masaje descontracturante completo</option>


        </select>
        <div class="ccr__selectDaysHoursContainer">
            <div class="ccr__container__left">
                <p>Días</p>
                <label for="mon">
                    <input type="checkbox" name="day" value="Lunes" id="mon">
                    Lunes
                </label>
                <label for="tue">
                    <input type="checkbox" name="day" value="Martes" id="tue">
                    Martes
                </label>
                <label for="wed">
                    <input type="checkbox" name="day" value="Miércoles" id="wed">
                    Miércoles
                </label>
                <label for="thu">
                    <input type="checkbox" name="day" value="Jueves" id="thu">
                    Jueves
                </label>
                <label for="fri">
                    <input type="checkbox" name="day" value="Sábado" id="fri">
                    Viernes
                </label>
            </div>
            <div class="ccr__container__right">
                <p>Horas</p>
                <div class="ccr__container__right__left">
                    <label for="mon">
                        <input type="checkbox" name="day" value="Lunes" id="mon">
                        10:00
                    </label>
                    <label for="tue">
                        <input type="checkbox" name="day" value="Martes" id="tue">
                        11:00
                    </label>
                    <label for="wed">
                        <input type="checkbox" name="day" value="Miércoles" id="wed">
                        12:00
                    </label>
                    <label for="thu">
                        <input type="checkbox" name="day" value="Jueves" id="thu">
                        13:00
                    </label>
                </div>
                <div class="ccr__container__right__right">
                    <label for="mon">
                        <input type="checkbox" name="day" value="Lunes" id="mon">
                        17:00
                    </label>
                    <label for="tue">
                        <input type="checkbox" name="day" value="Martes" id="tue">
                        18:00
                    </label>
                    <label for="wed">
                        <input type="checkbox" name="day" value="Miércoles" id="wed">
                        19:00
                    </label>
                    <label for="thu">
                        <input type="checkbox" name="day" value="Jueves" id="thu">
                        20:00
                    </label>
                </div>
            </div>


        </div>

        <button class="ccr__btnReserva">Buscar reserva libre</button>
    </div>
</div>
</div>