<div id="contenedor">
    <div class="home__titulo">
        <h1>Organízate</span></h1>
        <h1>Sé <span>Creativo</span></h1>

    </div>
    <div class="home__subtitulo">
        <p>Únete a nosotros, manten tu vida organizada y haz algo creativo cada día.</p>
    </div>
    <div class="home__register">
        <button id="btnRegister" class="home__register_button">Empieza ahora - Regístrate</button>
    </div>

    <div class="home__img">
        <img class="home__mobileLaptop" src="img/mobileLaptop.png" alt="">
    </div>

    <div class="home__organiza">
        <h2>Organiza todo</h2>
        <p>Sea relacionado con trabajo o personal, <span>Reservatron</span> te ayudará a controlar todas tus tareas</p>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth__es.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
<script type="module" src="js/home.js"></script>