<link rel="stylesheet" href="css/home.css">
<header>
    <div id="contenedor" class="contenedor">
        <div>
            <h1>Reservatron</h1>
            <h4>Organiza, reserva, planifica </h4>
            <a id="mainLogin" href="">Login</a>
            <a id="mainRegister" href="">Registrarse</a>
        </div>
        <img src="img/imghome.svg" alt="">
    </div>
</header>
<div class="wave">
    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="js/view/precompiled/login.precompiled.js"></script>
<script src="js/view/precompiled/userRegistration.precompiled.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth__es.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
<script src="js/userRegistration.js "></script>
<script src="js/login.js "></script>
<script src="js/app.js"></script>