<link rel="stylesheet" href="css/home.css">
<header>
    <div class="contenedor">
        <div>
            <h1>Reservatron</h1>
            <h4>Organiza, reserva, planifica </h4>
            <a href="">Login</a>
            <a href="">Registrarse</a>
        </div>
        <img src="img/imghome.svg" alt="">
    </div>
</header>
<div class="wave">
    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</div>