<form>
    <input id="user" type="text" placeholder="Introduce Usuario">
    <input id="password" type="text" placeholder="Contraseña">
    <button id="btnLogin">Log In</button>
</form>


<script src="js/controller/controllerLogin.js "></script>