<link rel="stylesheet" href="css/modal.css">
<div class="modal__container">
    <div class="modal__message">
        <p>{{message}}</p>
        <button id="btnModalOk" class="modal__button">OK</button>
    </div>
</div>