<link rel="stylesheet" href="css/style.css">
<div id="registro" class="registro">
    <div class="registro__formulario">
        <div id="formulario__paso1" class="formulario__paso1">
            <input id="user" name="user" type="text" placeholder="User" pattern="/^[a-z0-9_-]{3,16}$/">
            <input id="password" name="password" type="text" placeholder="Password">
            <div>
                <button id="btnFormulario__siguiente1" class="btnFormulario">Siguiente</button>
            </div>
        </div>
        <div class="formulario__paso2">

            <input id="userName" name="userName" type="text" placeholder="Nombre"
                pattern="/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/">
            <input id="userSurnames" name="userSurnames" type="text" placeholder="Apellidos"
                pattern="/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/">
            <input id="userAddress" name="userAddress" type="text" placeholder="Dirección">
            <input id="userPostalCode" name="userPostalCode" type="text" placeholder="Codigo postal"
                pattern="0[1-9][0-9]{3}|[1-4][0-9]{4}|5[0-2][0-9]{3}">
            <button id="btnFormulario__siguiente2" class="btnFormulario">Siguiente</button>
        </div>
        <div class="formulario__paso3">

            <input id="userEmail" name="email" type="text" placeholder="Email"
                pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/">
            <button class="btnFormulario" id="btnCreateAccount">Crear cuenta</button>
            <pre>*Verificación SMS</pre>
        </div>
    </div>
</div>

</div>
</div>
<div id="firebaseui-auth-container"></div>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth__es.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
<script src="js/userRegistration.js "></script>