.acr__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: darkgray; */
    margin: 4em auto 1em;
}

.acr__titulo h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.acr__titulo p {
    font-size: 1rem;
    font-weight: 500;
}
.acr__titulo span {
    font-size: 1rem;
    font-weight: 400;
}

.acr__fecha {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.acr__fecha__diaMes {
    text-align: center;
    font-weight: 600;
}
.acr__fecha i {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
}

.acrContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    padding: 1em;
    height: 20em;
    width: 135%;
    margin-top: 0.5em;
    margin-left: 0.3em;
}

.acr__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1.8em;
    /* background-color: lightpink; */
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.acrActive {
    background-color: blueviolet;
    color: whitesmoke;
}

.acr__day:nth-of-type(7n) {
    background-color: rgb(192, 119, 119);
    color: rgb(39, 39, 39);
    visibility: hidden;
}

.acr__day:nth-of-type(7n-1) {
    background-color: rgb(162, 190, 199);
    color: rgb(22, 75, 75);
    visibility: hidden;
}

.acr__day__number {
    font-size: 1rem;
    font-weight: 700;
}

.acr__day__name {
    font-size: 0.6rem;
    font-weight: 600;
}

.acr__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 40em; */
    margin: 0em auto 4em;
    padding: 1em 2em 0em 2em;
    border-radius: 25px 0px 25px 0px;
    background-color: #fff4f2;
    box-shadow: 0px 0px 5px #d8c1bd;
    width: 90%;
}

.acr__form__titulo {
    margin-bottom: 1em;
    width: 100%;
}

.acr__form__titulo h2 {
    margin-bottom: 0.25em;

    text-align: left;
}

.acr__form h3 {
    margin-bottom: 0.25em;

    margin-right: auto;
}

.acr__form input {
    padding: 0.5em;
    width: 100%;
}

.acr__form textarea {
    width: 100%;
    padding: 0.5em;
}

.acr__form__colores {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.acr__form__button {
    background-color: #505d8b;
    color: white;
    width: 200%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
