/* arm abreviatura de adminReservasMonth */

.armContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.5em;
    padding: 1em;
    min-height: 20em;
    margin-top: 1em;
    width: 140%;
}

.arm__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    background-color: lightpink;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0px 0px 5px black;
}

.arm__day:nth-of-type(1n) {
    background-color: transparent;
}
.arm__day:nth-of-type(5n) {
    background-color: rgb(255, 228, 194);
}

.arm__day:nth-of-type(11n) {
    background-color: rgb(255, 204, 204);
}

.arm__day:nth-of-type(7n) {
    background-color: rgb(192, 119, 119);
    color: rgb(39, 39, 39);
    visibility: hidden;
}

.arm__day:nth-of-type(7n-1) {
    background-color: rgb(162, 190, 199);
    color: rgb(22, 75, 75);
    visibility: hidden;
}

.arm__day__number {
    font-size: 1rem;
    font-weight: 700;
}

.arm__day__name {
    font-size: 0.6rem;
    font-weight: 600;
}
