.main__contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient();
    background-color: cadetblue;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.main__titulos {
    text-align: center;
}

.main__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.main__svg {
    flex: 1;
    display: flex;
}
.main__svg img {
    width: 100%;
}

.main__button {
    text-decoration: none;
    color: #fff;
    margin-right: 1em;
    border: 1px solid #575a89;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.5s ease;
    background-color: #868bda;
    margin-top: 1em;
}

.main__button:hover {
    background-color: #575a89;
}

.main__botones {
    display: flex;
    flex-direction: column;
    height: 10em;
}
