.modal__container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 50;
    display: flex;
}
.modal__message {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    color: rgb(68, 60, 60);
    z-index: 60;
    text-align: center;
    margin: auto;
    background-color: rgb(235, 235, 235);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1em;
    box-shadow: 0px 0px 10px black;
}

.modal__button {
    /* padding: 1em; */
    width: 50%;
    align-self: center;
    background-color: rgb(69, 81, 245);
    color: white;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.modal__button:hover {
    background-color: rgb(32, 46, 248);
}
