* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.registro__pasos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro__pasos__paso {
    padding: 0.5em 2em;
}

.active {
    background-color: #d8f3ec;
}

input {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
input:focus {
    border-color: #575a89;
    transition: 1s ease;
}
.registro__formulario {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 5px;
    background-color: darkcyan;
    height: 640px;
    width: 35vw;
    overflow: hidden;
}

.formulario__paso1,
.formulario__paso2,
.formulario__paso3 {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 300px;
    width: 35vw;
    flex-shrink: 0;
    box-shadow: 5px 10px 8p;
    border-radius: 5px;
}

.btnFormulario {
    color: #fff;
    margin-right: 1em;
    border: 1px solid #575a89;
    border-radius: 5px;
    padding: 5px;
    background-color: #868bda;
}
.btnFormulario:hover {
    background-color: #575a89;
    transition: 0.5 ease;
}

.step2 {
    margin-left: -35vw;
}

.step3 {
    margin-left: -70vw;
}
