.registro {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    /* height: -webkit-fill-available; */
    background-color: #f7fbfe;
    min-height: 30em;
}

.registro__container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: 0;
    /* height: fit-content; */
}

.regitros__pasosYTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registro__pasosContainer {
    display: flex;
    flex-direction: row;
}

.registro__pasos__paso {
    margin: 1em 0 2em;
    padding: 0.5em 2em;
}

.registro__pasos__paso-active {
    background-color: #d8f3ec;
}

.registro__titulos {
    height: fit-content;
    /* width: 90%; */
    margin-left: 1em;
}

.registro__titulos h2 {
    font-size: 1.5rem;
}

.registro__titulos h4 {
    margin-top: 1em;
    color: rgb(182, 182, 182);
    font-weight: 500;
    font-size: 0.7rem;
}

.formulario__input {
    display: block;
    padding: 10px;
    border: 2px solid #ddd;
    margin: 1em;
}

.registro__formulario {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 5px;
    /* background-color: darkcyan; */
    height: 70%;
    width: 100vw;
    overflow: hidden;
}

.formulario__paso1,
.formulario__paso2,
.formulario__paso3 {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    min-height: 27em;
    width: 100vw;
    flex-shrink: 0;
    box-shadow: 5px 10px 8p;
    border-radius: 5px;
}

.fomulario__input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-top: 1em;
    min-height: fit-content;
}

.formulario__paso1 {
    /* background-color: lightblue; */
}

.formulario__paso2 {
    /* background-color: lightcoral; */
}

.formulario__paso3 {
    /* background-color: lightgreen; */
}

.formulario__botones {
    display: flex;
    flex-direction: column;
    width: 15em;
    margin-bottom: 6em;
}
.btnFormulario {
    margin-top: 1em;
    padding: 1em;
    font-weight: 700;
    color: white;
    background-color: #4b71e2;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btnFormulario:hover {
    background-color: #4061c4;
}

.step2 {
    margin-left: -100vw;
}

.step3 {
    margin-left: -200vw;
}
